@import "../../components/mixins";
@import "../../components/colors";
@import "../../components/fonts";
// fix

.content {
  display: flex;
  gap: 120px;
  margin: 50px 110px 60px 110px;

  &__text {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__chapter {
      @extend .sans-14-22;
      color: $black;

      &:last-child {
        @extend .montserrat-26-34;
        color: $sun-tree;
        text-transform: uppercase;
      }
    }
  }
}