.button {
  display: inline-block;
  max-width: fit-content;
  background-color:$black;
  align-items: center;
  padding: 9px 22px 9px 22px;
  color: $white;
  text-transform: uppercase;
  border: none;

  @extend .button-style;

  &:hover {
    background-color: $sun-tree;
  }

  &:active {
    background-color: #cfaf91;
  }
  
  &:disabled {
    background-color: #c1c1c1;
  }
}
