/* SECTION BANNER */

// .banner {}

.box-banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0px 0px;

  background-color: #eee4db;
  margin: 129px 110px 90px 110px;
  width: 1180px;
  height: 411px;
}

.box-banner-counter {
  display: flex;
  flex-direction: column;
  margin-top: 17px;
  margin-left: 28px;
  align-items: flex-start;
  gap: 10px;
}

.item-banner-counter {
  flex: none;

  margin: 0 0;
}

/* 01 */
.banner-number {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 73px;
  color: #1e06060d;

  width: 61px;
  height: 74px;
}

.box-collection-name {
  display: flex;
  flex-direction: column;
  margin: 89px 5px 89px 22px;
  align-items: baseline;
  width: 307px;
  height: auto;
  gap: 20px;
}

.box-image {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: -90px 99.51px 0 0;
  z-index: 0;
  max-width: 635.49px;
  max-height: 461px;
}

.box-banner-button {
  display: flex;
  justify-content: center;
  width: 1180px;
  height: 39px;
  align-items: center;

  background-color: #c29974;
  position: absolute;
  margin-top: 371px;
}

.box-banner article {
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: #1e0606;
}

/* SECTION CATEGORY */

.category {
  margin: 90px 110px 90px 110px;
}

.category-article {
  margin-bottom: 30px;
}

.box-category {
  display: flex;
  position: relative;
  flex-direction: row;
  gap: 20px;
}

.item-category {
  display: flex;
  background-color: #dbe4db;
  z-index: 2;
  height: 270px;
  width: 280px;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
}

.item-category:nth-child(2) {
  background-color: #eaddd3;
}

.item-category:nth-child(3) {
  background-color: #f8f2da;
}

.item-category:nth-child(4) {
  background-color: #d5d4e1;
}

.text-category {
  position: absolute;
  max-width: 200px;
  justify-content: center;
  z-index: 3;
}

.text-category:hover {
  text-decoration: underline;
}

/* SECTION CATEGORY/SELECTOR */

.box-selector {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  gap: 6px;
  justify-content: flex-start;
  align-items: center;
}

.item-selector-button {
  background-color: #e2f1f8;
  display: flex;

  padding: 5px 12px 6px 12px;
  height: 37px;
  width: 37px;
}

.item-selector-note {
  margin-left: 16px;
  max-width: 580px;
}

/* SECTION SERVICE */

.service {
  margin: 90px 210px 90px 110px;
}

.box-service {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;

  position: relative;
  overflow: hidden;
  gap: 120px;
}

.item-service-left img {
  max-width: 480px;
  height: auto;
}

.item-service-right {
background-size: cover;
}

// .text-service {}

/* SECTION PARTNERS */

.partners {
  margin: 90px 110px 90px 110px;
}

// .button-partners {}

.box-partners {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.item-partners {
  flex: none;
  margin: 0px 0px;
}

/* SECTION CONTACTS */

.box-contacts {
  margin: 90px 147px 60px 110px;
  margin-bottom: 155px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 0 57px;
}

.item-contacts {
  padding: 31px 30px 35px 30px;
  
  background-color: #e0f0f7;
  
  display: flex;
  gap: 10px;
  flex-direction: column;
  max-width: 543px;
  height: fit-content;
  min-height: 209px;
  position: relative;
}

.item-contacts:last-child {
  padding: 41px 30px 102px 30px;
  
}

.text-contacts {
  margin-block-end: 10px;
}

// .button-contacts {}

.item-contacts .montserrat-700-38-black {
  position: absolute;
  top: -21px;
}



.iframe-map {
  margin-top: 20px;
  width: 483px;
  height: 196px;
  position: absolute;
  bottom: -114px;
}

