<form class="form" action="" method="POST">
  <fieldset class="form__item">
    <label for="field-name">Name</label>
    <input id="field-name" class="form-input" type="text" />
  </fieldset>

  <fieldset class="form__item">
    <label for="field-phone">Phone</label>
    <input id="field-phone" type="tel" />
  </fieldset>

  <fieldset class="form__item">
    <label for="field-email">Email</label>
    <input id="field-email" type="email" />
  </fieldset>

  <fieldset class="form__item">
    <label>Message</label>
    <textarea></textarea>
  </fieldset>

  <fieldset class="form__item">
    <input type="checkbox" />
    <label>
      By clicking on the button, you consent to the processing of your personal
      data
    </label>
  </fieldset>

  <div class="form__item">
    @@include('button/index.html', { "text":"Submit" })
  </div>
</form>