.animation {
    display: block;
    text-indent: -9999px;
    width: auto;
    height: auto;
    background-size: 100% 100%;



}
.background {
    background-image: url(../../static/images/animation/background.svg);
}


