.blog-box {
  display: flex;
  flex-direction: row;
  gap: 20px 20px;
  flex-wrap: wrap;
  margin: 50px 110px 39px 110px;
}

.blog-item {
  display: flex;
  flex-direction: column;
  max-width: 380px;
}

.post-date {
  margin: 20px auto 7px 0px;
}

/* .post-article {} */

.post-text {
  margin: 15px 0 15px 0;
}

