.animation {
    display: block;
    position: relative;
    width: -webkit-fill-available;
    height: auto;
    margin-block-end: 40px;
    overflow: hidden;
}

.sky {
    width: 100%;
    height: 100px;
}

.sun {
    content: url('../../static/images/animation/sky/sun.svg');
    position: absolute;
    right: 25%;
}

.cloud {
    &-0 {
        content: url('../../static/images/animation/sky/cloud-0.svg'); 
        position: absolute;
        top: 5%;
        left: 5%;
    }

    &-1 {
        content: url('../../static/images/animation/sky/cloud-1.svg'); 
        position: absolute;
        top: 5%;
        left: 20%;
    }

    &-3 {
        content: url('../../static/images/animation/sky/cloud-3.svg'); 
        position: absolute;
        top: 5%;
        left: 45%;
    }

    &-4 {
        content: url('../../static/images/animation/sky/cloud-4.svg'); 
        position: absolute;
        top: 5%;
        left: 65%;
    }

    &-5 {
        content: url('../../static/images/animation/sky/cloud-5.svg'); 
        position: absolute;
        top: 5%;
        left: 85%;
    }
}

.background {
    content: url('../../static/images/animation/background.svg');
    width: 100%;
}

//Машинки
.car1 {
    display: table-cell;
    position: absolute;
    width: auto;
    height: auto;
    bottom: 31%;
    left: 5%;
   
    &__body {
    display: block;
    width: auto;
    height: auto;
    content: url('../../static/images/animation/car1/Car1.svg');
    z-index: 45;
    }

    &__l-wheel {
    display: block;
    width: auto;
    height: auto;
    position: absolute;
    left: 13.5%;
    bottom: -1%;
    content: url('../../static/images/animation/car1/wheel1.svg');
    z-index: 50;
    }

    &__r-wheel {
    display: block;
    width: auto;
    height: auto;
    position: absolute;
    right: 9.25%;
    bottom: -1%;
    content: url('../../static/images/animation/car1/wheel1.svg');
    z-index: 50;
    }
}

.car2 {
    display: table-cell;
    position: absolute;
    width: auto;
    height: auto;
    bottom: 31%;
    left: 25%;
   
    &__body {
    display: block;
    width: auto;
    height: auto;
    content: url('../../static/images/animation/car2/Car2.svg');
    z-index: 45;
    }

    &__l-wheel {
    display: block;
    width: auto;
    height: auto;
    position: absolute;
    left: 8.5%;
    bottom: 0;
    content: url('../../static/images/animation/car2/wheel2.svg');
    z-index: 50;
    }

    &__r-wheel {
    display: block;
    width: auto;
    height: auto;
    position: absolute;
    right: 8.5%;
    bottom: 0;
    content: url('../../static/images/animation/car2/wheel2.svg');
    z-index: 50;
    }
}

.car3 {
    display: table-cell;
    position: absolute;
    width: auto;
    height: auto;
    bottom: 31%;
    left: 55%;
   
    &__body {
    display: block;
    width: auto;
    height: auto;
    content: url('../../static/images/animation/car3/Car3.svg');
    z-index: 45;
    }

    &__l-wheel {
    display: block;
    width: auto;
    height: auto;
    position: absolute;
    left: 18.75%;
    bottom: 8.25%;
    content: url('../../static/images/animation/car3/wheel3.svg');
    z-index: 50;
    }

    &__r-wheel {
    display: block;
    width: auto;
    height: auto;
    position: absolute;
    right: 15.25%;
    bottom: 8.25%;
    content: url('../../static/images/animation/car3/wheel3.svg');
    z-index: 50;
    }  
}

.car4 {
    display: table-cell;
    position: absolute;
    width: auto;
    height: auto;
    bottom: 31%;
    left: 75%;
   
    &__body {
    display: block;
    width: auto;
    height: auto;
    content: url('../../static/images/animation/car4/Car4.svg');
    z-index: 45;
    }

    &__l-wheel {
    display: block;
    width: auto;
    height: auto;
    position: absolute;
    left: 13.25%;
    bottom: 0;
    content: url('../../static/images/animation/car4/wheel4.svg');
    z-index: 50;
    }

    &__r-wheel {
    display: block;
    width: auto;
    height: auto;
    position: absolute;
    right: 9.25%;
    bottom: 0;
    content: url('../../static/images/animation/car4/wheel4.svg');
    z-index: 50;
    }
}

// кручение колёс
.wheel-clockwise {
    animation: wheel-clockwise 2s linear 0s normal none infinite running;
}

@keyframes wheel-clockwise {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
}


.sky-mover {
animation: sky-mover 20s ease-in-out forwards infinite;

}

@keyframes sky-mover {
    0% { transform: translateX(-100px); }
    100% { transform: translateX(100px); }

}

.speed1 {
    animation: speed1 30s ease-in-out forwards infinite;
}

@keyframes speed1 {
    0% { transform: translateX(-350px); }
    100% { transform: translateX(1600px); }
}

.speed2 {
    animation: speed2 60s ease-in-out forwards infinite;
}

@keyframes speed2 {
    0% { transform: translateX(-1000px); }
    100% { transform: translateX(1600px); }
}

.speed3 {
    animation: speed3 60s ease-in-out forwards infinite;
}

@keyframes speed3 {
    0% { transform: translateX(-1200px); }
    100% { transform: translateX(1600px); }
}

.speed4 {
    animation: speed4 60s ease-in-out forwards infinite;
}

@keyframes speed4 {
    0% { transform: translateX(-1600px); }
    100% { transform: translateX(1600px); }
}




// user-select: none;