<script src="index.js"></script>
<div class="modal-popup">
    <div class="popup-form">
      <form class="popup-box" action="" method="POST">
        
        <fieldset class="popup-item">  
          <div class="label-wrapper">
            <label for="field-name" class="form-label">Name</label>
            <input id="field-name" class="form-input" type="text">        
          </div>
        </fieldset>
        
        <fieldset class="popup-item">
          <div class="label-wrapper">
            <label for="field-phone" class="form-label">Phone</label>
            <input id="field-phone" type="tel">
          </div>
        </fieldset>

        <fieldset class="popup-item">
          <div class="label-wrapper">
            <label for="field-email" class="form-label">Email</label>
            <input id="field-email" type="email">
          </div>
        </fieldset>

        <fieldset class="popup-item">
          <div class="label-wrapper">
            <label class="form-label">Message</label>
            <textarea></textarea>    
          </div>    
        </fieldset>

        <div class="popup-item"> 
          <div class="consent">
                  
            <input class="consent-checkbox" type="checkbox" >
            <label class="btn btn-warning">
            By clicking on the button, you consent to the processing of your personal data
            </label>
          </div>
        </div>

            
        <div class="label-wrapper">
          <button type="submit" class="button-black">Send</button>
        </div>
      </form>

      <div class="close popup-btn-close">
        <img src="../../static/images/svg/popup-close.svg" alt="">
      </div>
     
    </div>

</div>