.header {
  margin: 50px 110px 60px 110px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  @include tablets { margin: 35px 60px 35px 60px; }
  @include phones { margin: 25px 35px 26px 30px;}

  &__logo {
    min-width: 100px;
    height: 52px;
    margin-inline-end: 60px;

    @include tablets { min-width: 62px; }
    @include phones { min-width: 42px;}

    


    &:hover {
      opacity: 0.53;
    }

    &:active {
      opacity: 0.24;
    }
  }
  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 100%;

    @extend .sans-14;
    color: $black;

    &__item {
      &:hover {
        opacity: 0.53;
      }

      &:active {
        opacity: 0.24;
      }

      &-loupe {
        margin-left: auto;
        min-width: 24px;

        &:hover {
          opacity: 0.53;
        }

        &:active {
          opacity: 0.24;
        }
      }

      &:nth-last-child(1) {
        font-weight: 700;
      }
    }
  }
}

header a:link,
header a:visited,
header a:hover,
header a:active {
  color: #1e0606;
}

