.header {
  margin: 50px 110px 60px 110px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &__logo {
    width: 100px;
    height: 52px;
    margin-inline-end: 60px;

    &:hover {
      opacity: 0.53;
    }

    &:active {
      opacity: 0.24;
    }
  }
  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 100%;

    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;

    &__item {
      &:hover {
        opacity: 0.53;
      }

      &:active {
        opacity: 0.24;
      }

      &-loupe {
        margin-left: auto;
        min-width: 24px;

        &:hover {
          opacity: 0.53;
        }

        &:active {
          opacity: 0.24;
        }
      }

      &:nth-last-child(1) {
        font-family: Open Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
  }
}

header a:link,
header a:visited,
header a:hover,
header a:active {
  color: #1e0606;
}
