<header class="header">
  <div class="header__logo"><a href="/"><img src="../../static/images/svg/dlk_logo.svg" alt=""></a></div>   
    <ul class="dots-none header__nav">
      <li class="header__nav__item"><a href="/pages/blog">BLOG</a></li>
      <li class="header__nav__item"><a href="/pages/catalog">CATALOG</a></li>
      <li class="header__nav__item"><a href="#">ABOUT US</a></li>
      <li class="header__nav__item"><a href="/pages/scene">Animation</a></li> 
      <li class="header__nav__item"><a href="/pages/svg">Svg</a></li> 
      <li class="header__nav__item-loupe"><a href="#">
          <img src="../../static/images/svg/loupe.svg" alt=""></a>
      </li>
      <li><a class="header__nav__item popup-open-js" href="#">Contact US</a></li>
    </ul>
</header>