//default colors
$white:#fff;

$black:#1E0606;

//smoke
$smoke:#EBEBEB;

$deep-smoke:#666;

$dark-smoke:#aaa;

//gray
$dark-gray:#434343;

$light-gray: #C7C1C1;

//light shades
$sun-tree:#C29974;

$sea:#E1F0F7;

$light-sky-blue:#E5EAF8;

$popup-background:#7D97DACC;

$dev-link-footer:#A2A2A2;
