@mixin desktop {
    @media screen and (max-width: 1200px) {
         @content;
    }
}

@mixin tablets {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin phones {
   @media screen and (max-width: 480px) {
        @content;
   }
}
 
 
// @mixin laptop {
//     @media screen and (max-width: 992px) {
//         @content;
//     }
// }

// @mixin phones {
//     @media screen and (max-width: 480px) {
//          @content;
//     }
//  }

// вызов mixin

// @include desktop { margin-block-end: ;}
// @include tablets { margin-block-end: ;}
// @include phones { margin-block-end: ;}