@mixin desktop {
    @media screen and (max-width: 1200px) {
         @content;
    }
}

@mixin tablets {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin phones {
   @media screen and (max-width: 375px) {
        @content;
   }
}
 
 
// вызов mixin
// footer {
//   @include phones{ background-color: red;}
// }

// @mixin laptop {
//     @media screen and (max-width: 992px) {
//         @content;
//     }
// }

// @mixin phones {
//     @media screen and (max-width: 480px) {
//          @content;
//     }
//  }


// @include desktop { margin-block-end: ;}
// @include tablets { margin-block-end: ;}
// @include phones { margin-block-end: ;}