.hidden {
  display: none;
}

.dots-none,
a {
  list-style-type: none;
  text-decoration: none;
  padding-inline-start: 0px;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 1400px;
  margin: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* original flags */

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}
.bold {
  font-style: bold;
}

/* color */

.black {
  color: #1e0606;
}

.gold {
  color: #c29974;
}

.white {
  color: #ffffff;
}

/* Open Sans */

.opensans-400-14 {
  text-decoration: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  align-items: left;
  text-transform: uppercase;
  color: #1e0606;
}

.opensans-400-16 {
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #1e0606;
}

.opensans-400-18 {
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: #1e0606;
}

.opensans-700-12 {
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

.opensans-700-14-bold {
  font-family: Open Sans;
  font-size: 14px;
  font-style: bold;
  font-weight: 700;
  line-height: 19.07px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: #1e0606;
}

.opensans-700-16-normal {
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #1E0606;
}

.opensans-400-14-lh19 {
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
}

.opensans-400-16-white {
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.opensans-700-16-white {
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  background: #ffffff;
}

/* Crimson Text */
.crimson-400-26-italic {
  font-family: Crimson Text;
  font-size: 26px;
  font-style: italic;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.crimson-400-20-italic {
  font-family: Crimson Text;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

/* Montserrat */
.montserrat-700-16 {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #1e0606;
}

.Montserrat-600-26-gold {
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0px;
  text-align: left;

  color: #c29974;
  text-transform: uppercase;
}



.montserrat-700-26-white {
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;

  color: #ffffff;
}

.montserrat-700-38-black {
  font-family: Montserrat;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: #1e0606;
}

.montserrat-700-40 {
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

.montserrat-700-24-black {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0px;
  text-align: left;
  color: #1e0606;
}

// Подключение компонентов
@import "./header/header";
@import "./footer/footer";
@import "./popup/popup";
@import "./button/button";
@import "./breadcrumbs/breadcrumbs";
@import "./selector/selector";
@import "./pagination/pagination";
@import "./blog-item/blog-item";

