<footer class="footer">
    
    <div class="footer__block">
      <article>Navigation</article>
      <hr class="hr">
      <ul class="dots-none">          
        <li><a href="#">About Us</a></li>
        <li><a href="/pages/blog">Blog</a></li>
        <li><a href="#">Design Services</a></li>
        <li><a href="#">Featured On</a></li>
        <li><a href="#">2018 Holiday Catalog</a></li>
        <li><a href="#">Shop By Designer</a></li>
      </ul>
    </div>

    <div class="footer__block">
      <article>Customer Information</article>
      <hr class="hr">
      <ul class="dots-none">          
        <li><a href="/pages/contactus">Contact Us</a></li>
        <li><a href="#">Sale Exclusions</a></li>
        <li><a href="#">Shipping & Returns</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Search</a></li>
      </ul>
    </div>

    <div class="footer__block">
      <article>Connect</article>
      <hr class="hr">
      
      <form>
        <input type="Email" placeholder="Email" />
        @@include('button/index.html', {
          "text":"JOIN"})
      </form>      
      
      <div class="social">
        <a class="url item-social" href="https://facebook.com/">
          <img src="../../static/images/social/Facebook.svg" alt="">
        </a>
        <a class="url item-social" href="https://twitter.com/">
          <img src="../../static/images/social/Twitter.svg" alt="">
        </a>
        <a class="url item-social" href="https://www.pinterest.com">
          <img src="../../static/images/social/Pinterest.svg" alt="">
        </a>
        <a class="url item-social" href="https://www.instagram.com/">
          <img src="../../static/images/social/Instagram.svg" alt="">
        </a>
      </div>
    </div>

      <hr class="hr">
   
    <div class="footer__block rating">
      <p class="rating__label">Company Rating</p>
      <div class="rating__stars">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
      </div>
    </div>

    <div class="footer__block">
      <a>Copyright © 2021 Dlk • Design Life Kids</a>
    </div>

    <div class="footer__block dev-link">
      <a href="https://directline.digital/">Web Design — Direct Line Development</a>
    </div>
 
</footer>

