<footer class="footer">
  <section class="box-footer">
    <div class="item-footer">
      <article>Navigation</article>
      <hr class="hr-short" size="1" width="380" color="#666666, 100 %" />
      <ul class="dots-none opensans-400-16-white">          
        <li><a href="#" class="url">About Us</a></li>
        <li><a href="/pages/blog" class="url">Blog</a></li>
        <li><a href="#" class="url">Design Services</a></li>
        <li><a href="#" class="url">Featured On</a></li>
        <li><a href="#" class="url">2018 Holiday Catalog</a></li>
        <li><a href="#" class="url">Shop By Designer</a></li>
      </ul>
    </div>

    <div class="item-footer">
      <article>Customer Information</article>
      <hr class="hr-short" size="1" width="380" color="#666666, 100 %" />
      <ul class="dots-none item-footer opensans-400-16-white">          
        <li><a href="/pages/contactus" class="url">Contact Us</a></li>
        <li><a href="#" class="url">Sale Exclusions</a></li>
        <li><a href="#" class="url">Shipping & Returns</a></li>
        <li><a href="#" class="url">Terms & Conditions</a></li>
        <li><a href="#" class="url">Privacy Policy</a></li>
        <li><a href="#" class="url">Search</a></li>
      </ul>
    </div>
    <div class="item-footer">
      <article>Connect</article>
      <hr class="hr-short" size="1" width="380" color="#666666, 100 %" />
      
      <div class="box-email">
        <form>
          <input class="item-email" type="Email" placeholder="Email" />
          @@include('button/index.html', {
            "text":"JOIN"
          })
        </form>
      </div>          
      
      <div class="box-social">
        <a class="url item-social" href="https://facebook.com/">
          <img src="../../static/images/social/Facebook.svg" alt="">
        </a>
        <a class="url item-social" href="https://twitter.com/">
          <img src="../../static/images/social/Twitter.svg" alt="">
        </a>
        <a class="url item-social" href="https://www.pinterest.com">
          <img src="../../static/images/social/Pinterest.svg" alt="">
        </a>
        <a class="url item-social" href="https://www.instagram.com/">
          <img src="../../static/images/social/Instagram.svg" alt="">
        </a>
      </div>

    </div>
      
    <hr class="hr-long" size="1" width="1180" color="#666666, 100 %" align="center" />
       
    <div class="item-footer box-rating">
          <div class="item-raiting-text opensans-400-16-white"><p>Company Rating</p></div>
          <img class="item-raiting-star"
            src="../../static/images/svg/star.svg"
            alt=""
          />
          <img class="item-raiting-star"
            src="../../static/images/svg/star.svg"
            alt=""
          />
          <img class="item-raiting-star"
            src="../../static/images/svg/star.svg"
            alt=""
          />
          <img class="item-raiting-star"
            src="../../static/images/svg/star.svg"
            alt=""
          />
          <img class="item-raiting-star"
            src="../../static/images/svg/star.svg"
            alt=""
          />
    </div>

    <div class="item-footer opensans-400-16-white">
      <p>Copyright © 2021 Dlk • Design Life Kids</p>
    </div>

    <div class="item-footer opensans-400-16-white">
      <a href="https://directline.digital/">
        <article class="developer-link"">Web Design — Direct Line Development</article>
      </a>
    </div>
  </section> 
</footer>

