.selector {
  margin-top: 50px;
  margin-bottom: 60px;
  max-width: 1400px;
  background-color: #e5eaf8;
}

.selector-form {
  padding: 42px 195px 42px 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selector-form article {
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;

  margin-block-end: 15px;
  color: #1e0606;
}

.color-massive {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: flex-start;
}

.selector label {
  // .opensans-400-16
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #1e0606;
}

.delivery-massive {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
}
